In [15]:
import pandas as pd
from pathlib import Path

In [16]:
tickets_data = pd.read_csv("../data/tickets.csv")
tickets_data.head()

  fare_conditions passenger_id  flight_id   ticket_no   amount seat_no
0         Economy  0000 000343     116740  5435824372  66600.0     20B
1         Economy  0000 000343       8307  5435824372  66600.0      9A
2         Economy  0000 000343     116740  5435824372  66600.0      9A
3         Economy  0000 000343       8307  5435824372  66600.0     20B
4         Economy  0000 004609      22709  5435912721  11700.0     12K

In [17]:
passenger_id = tickets_data["passenger_id"]
tickets_data = tickets_data.drop("passenger_id", axis=1)
tickets_data["passpor_ser"] = passenger_id.apply(
    lambda x: x.split(" ")[0].strip(" ")
)
tickets_data["passpor_num"] = passenger_id.apply(
    lambda x: x.split(" ")[-1].strip(" ")
)
tickets_data.head()

,fare_conditions,flight_id,ticket_no,amount,seat_no,passpor_ser,passpor_num
0,Economy,116740,5435824372,66600.0,20B,0000,000343
1,Economy,8307,5435824372,66600.0,9A,0000,000343
2,Economy,116740,5435824372,66600.0,9A,0000,000343
3,Economy,8307,5435824372,66600.0,20B,0000,000343
4,Economy,22709,5435912721,11700.0,12K,0000,004609

In [18]:
fare_cond_data = pd.read_csv("../data/results/fare_condition.csv")

In [19]:
tickets_data["fare_conditions"] = tickets_data["fare_conditions"].apply(
    lambda x: fare_cond_data[fare_cond_data["fare_conditions"] == x][
        "id"
    ].iloc[0]
)

In [20]:
Path.mkdir(Path("../data/results"), exist_ok=True)
tickets_data.to_csv("../data/results/tickets.csv", index=False)