In [39]:
import pandas as pd
from pathlib import Path

In [44]:
airlines_data = pd.read_csv("../data/airlines.csv")
airlines_data = airlines_data.dropna()
airlines_data = airlines_data[
    airlines_data.IATA.str.contains(r"^[A-Z]{2}$")
]
airlines_data = airlines_data[airlines_data["Country"] == "Russia"]

In [45]:
res = pd.DataFrame()
res["name"] = airlines_data["Name"]
res["iata_name"] = airlines_data["IATA"]
res.head()

                          name iata_name
129  Aeroflot Russian Airlines        SU
442                   Airstars        PL
461         Astrakhan Airlines        OB
495            AirBridge Cargo        RU
640   Rossiya-Russian Airlines        FV

In [47]:
Path.mkdir(Path("../data/results"), exist_ok=True)
res.to_csv("../data/results/airlines.csv", index=False)