In [2]:
import pandas as pd
from pathlib import Path

In [2]:
passenger_data = pd.read_csv("../data/passengers.csv")
passenger_data.head()

  passenger_id      passenger_name
0  0000 000343  LIDIYA KUDRYASHOVA
1  0000 004609     YULIYA SMIRNOVA
2  0000 005006   ALEKSANDR ABRAMOV
3  0000 005049   VALENTINA FADEEVA
4  0000 006712    ELENA MIKHAYLOVA

In [3]:
passenger_id = passenger_data["passenger_id"]
passenger_name = passenger_data["passenger_name"]
passenger_data = passenger_data.drop("passenger_name", axis=1)
passenger_data = passenger_data.drop("passenger_id", axis=1)
passenger_data["name"] = passenger_name.apply(
    lambda x: x.split(" ")[0].strip(" ")
)
passenger_data["surname"] = passenger_name.apply(
    lambda x: x.split(" ")[-1].strip(" ")
)
passenger_data["passport_ser"] = passenger_id.apply(
    lambda x: x.split(" ")[0].strip(" ")
)
passenger_data["passport_num"] = passenger_id.apply(
    lambda x: x.split(" ")[-1].strip(" ")
)
passenger_data.head()

        name      surname passport_ser passport_num
0     LIDIYA  KUDRYASHOVA         0000       000343
1     YULIYA     SMIRNOVA         0000       004609
2  ALEKSANDR      ABRAMOV         0000       005006
3  VALENTINA      FADEEVA         0000       005049
4      ELENA   MIKHAYLOVA         0000       006712

In [4]:
Path.mkdir(Path("../data/normalized"), exist_ok=True)
passenger_data.to_csv("../data/normalized/passengers.csv", index=False)