In [2]:
import pandas as pd

In [5]:
passenger_data = pd.read_csv("../data/passengers.csv")
passenger_data.head()

    ticket_no passenger_id     passenger_name
0  5432000284  4030 855525    MIKHAIL SEMENOV
1  5432000285  8360 311602    ELENA ZAKHAROVA
2  5432000286  4510 377533        ILYA PAVLOV
3  5432000287  5952 253588       ELENA BELOVA
4  5432000288  4313 788533  VYACHESLAV IVANOV

In [7]:
passenger_id = passenger_data["passenger_id"]
passenger_data = passenger_data.drop("passenger_id", axis=1)
passenger_data["passpor_ser"] = passenger_id.apply(lambda x: x.split(" ")[0].strip(" "))
passenger_data["passpor_num"] = passenger_id.apply(
    lambda x: x.split(" ")[-1].strip(" ")
)
passenger_data.head()

    ticket_no     passenger_name passpor_ser passpor_num
0  5432000284    MIKHAIL SEMENOV        4030      855525
1  5432000285    ELENA ZAKHAROVA        8360      311602
2  5432000286        ILYA PAVLOV        4510      377533
3  5432000287       ELENA BELOVA        5952      253588
4  5432000288  VYACHESLAV IVANOV        4313      788533